<div class="row">
    <div class="col-md-4 mx-auto">
        <img src="{{image}}"  alt="Helado Maracuya" class="card-img-top">
        <h2 class="lead">1.789.000$</h2>
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem deserunt maxime quasi nisi! Inventore, ipsam.</p>
        </div>
        <card class="footer">
            <button class="btn btn-block btn-dark">Buy
                <i class="fas fa-shopping-cart"></i>
            </button>
        </card>
    </div>
</div>