<div class="row">
    <div class="col-md-4 mx-auto">
        <img src="{{image}}"  alt="Helado Maracuya" class="card-img-top">
        <h2 class="lead ml-3">35$</h2>
        <div class="card-body">
            <h3 class="lead my-1 text-dark" >Matlab</h3>
            <p>es un sistema de cómputo numérico que ofrece un entorno de desarrollo integrado con un lenguaje de programación propio. Está disponible para las plataformas Unix, Windows, macOS y GNU/Linux</p>
        </div>
        <card class="footer">
            <form action="/checkout" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_51HdnxkGmDd5riCZ2isXOWOymeWDqJA76UChOiJr8UEK89HqNxze5qLtjsThXCkFTQrZ68e0YFXzrPK8qFQuMwOK700rKA7oJQE"
                data-amount="3500"
                data-name="Software Store"
                data-description=" Matlab Software for Scientific computing"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"></script>
                <script>
                    document.getElementsByClassName('stripe-button-el')[0].style.display='none';
                </script>
                <button class="btn btn-block btn-dark">Buy
                <i class="fas fa-shopping-cart"></i>
            </button>
            </form>
            

        </card>
    </div>
</div>