<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartPhone Store</title>
      <script src="https://kit.fontawesome.com/6df470b726.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-primary p-2">
        <div class="container ">
            <a href="/" class="text-lead  text-light">
              <h1 class="display-4"> Software Store</h1>
            </a>
        </div>
    </nav>

    <div class="container p-4">
         {{{body}}}
    </div>
 
</body>
</html>